.container {
  max-width: 70rem;
  padding: 0 1rem;
  /* margin: 3rem auto 6rem; */
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;


}
.headerlg{
  padding: 9rem;
  margin: 1rem;
}
