.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    color: rgb(132, 133, 57);

  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    color: rgb(31, 126, 102);
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
    color: rgb(211, 0, 0);
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1rem 0;
    color: rgb(211, 0, 0);
  }
  
  .borderCircle {
    border-radius: 9999px;
    overflow: hidden;

  }
  
  .colorInherit {
    color: rgb(211, 0, 0);

  }
  
  .padding1px {
    padding-top: 1px;
    text-align: center;
  }
  
  .lightText  {
    color: rgb(105, 109, 108);
  }
  .list li:hover {
    color: rgba(226, 235, 243, 0.207);
  }

  .arrowleft ,.arrowright{
    text-align: center;
  }


  .footer{
position: fixed;   
bottom: 0rem;
right: 0rem;
width: 100%;
background-color: rgba(240, 248, 255, 0.707);
padding: 0rem;
}

.footer p {
  text-align: center;
  padding: 0.5rem;
  }